{% extends 'main.html' %} {% block content %}
<style>
    .heading {
      width: 100%;
      height: 100vh;
      background-image: url("/static/bg.jpg");
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 100px;
              }

    .form-signin {
                width: 100%;
                max-width: 330px;
                padding: 15px;
                margin: auto;
                }
            
                .form-signin .form-control {
                position: relative;
                box-sizing: border-box;
                height: auto;
                padding: 10px;
                font-size: 16px;
                }
                .form-signin .form-control:focus {
                z-index: 2;
                }
                .form-signin input[type="email"] {
                  margin-bottom: 10px;
                  border-bottom-right-radius: 0;
                  border-bottom-left-radius: 0;
                }
                .form-signin input[type="text"] {
                  margin-bottom: 10px;
                  border-bottom-right-radius: 0;
                  border-bottom-left-radius: 0;
                }
                .form-signin input[type="password"] {
                  margin-bottom: -1px;
                  border-top-left-radius: 0;
                  border-top-right-radius: 0;
                }
              
                .h3{
                text-align: center;
                }
                .footer{
                min-height: 100px;
                }
            
            </style>
            <div class="heading">
        <div class="container-fluid p-5">
            <form class="form-signin col-6 mx-auto card p-3 shadow-lg" method="post">{% csrf_token %}
                
                    <h1 class="h3 mt-1 font-weight-normal">Login</h1>

                    <!-- <input type="username" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus> -->

                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

                    <input type="password" name="password" id="inputPassword" class="form-control mt-2" placeholder="Password" required>
                    
                    {% for field in form %}
                        <p>
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        </p>
                    {% endfor %}
                    {% if form.non_field_errors %}
                    <div style="color: red">
                        <p>{{form.non_field_errors}}</p>
                    </div>
                        
                    {% endif %}
                
                    <button class="btn btn-lg btn-dark btn-block mt-2" type="submit">Login</button>
                
                    <p class="text-center text-muted mt-5">Dont Have an account? <a href="{% url 'signup' %}"
                      class="fw-bold text-body"><u>Register here</u></a></p> 
                    <p class="text-center text-muted mt-5">Forgot Password? <a href="{% url 'ForgetPassword' %}"
                        class="fw-bold text-body"><u>Click here</u></a></p> 
            </form>
        </div>
      </div>
      
{% endblock content%}