{% extends 'main.html' %}

{% block content %}
<style>
  .heading {
    width: 100%;
    min-height: 100vh;
    color: white;
    background-image: url("/static/bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }
  @media (min-width: 992px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }
}
  .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .course-card {
    flex: 0 0 45%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio for responsive video */
    overflow: hidden; /* Add overflow hidden to contain the video */
  }

  .video-wrapper video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
</style>

<div class="heading">
  <a href="/add_course_content/{{ course.id }}/">
    <button class="btn btn-dark mx-5 my-2">Add Course Content</button>
  </a>
  <h1>Course Details :</h1>
  <p>Name: {{ course.name }}</p>
  <p>Price: {{ course.price }}</p>
  <p>Post Date: {{ course.course_post_date }}</p>
  <h2>Content:</h2>
  <div class="container">
    {% for content_item in content %}
      <div class="card course-card bg-primary-subtle">
        <div class="card-body">
          <h5 class="card-title">{{ content_item.name }}</h5>
          <p>{{ content_item.body }}</p>
          {% if content_item.content %}
          <div class="video-wrapper">
            <video controls>
              <source src="{{ content_item.content.url }}" type="video/mp4">
            </video>
          </div>
          <a href="/update_course_content/{{ course.id }}/{{ content_item.id }}/">
            <button class="btn btn-success mx-5 my-2">Update Course Content</button>
          </a>
          <a href="/delete_course_content/{{ course.id }}/{{ content_item.id }}/">
            <button class="btn btn-danger mx-5 my-2">Delete Course Content</button>
          </a>
          {% endif %}
        </div>
      </div>
    {% empty %}
    <p>No content available.</p>
    {% endfor %}
  </div>
</div>
{% endblock content %}
