{% extends 'main.html' %}
{% block content %}
<style>
    .heading {
      width: 100%;
      min-height: 100vh;
      color:white;
      background-image: url("/static/bg.jpg");
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 100px;
    }
  </style>
  <div class="heading">
<h1>Course Details - {{ course.name }}</h1>
<p>Price: {{ course.price }}</p>
<p>Post Date: {{ course.course_post_date }}</p>
<h2>Content:</h2>
<center>
<div class="row mx-1" >
    {% if content %}
        <div class="card m-4 bg-body-secondary">
            <div class="card-body">
                <p>{{ content.0.name }}</p>
                <p>{{ content.0.body }}</p>
                {% if content.0.content %}
                    <video controls>
                        <source src="{{ content.0.content.url }}" type="video/mp4">
                    </video>
                {% endif %}
            </div>
        </div>
    </div>
</center>
{% else %}
    <p>No content available.</p>
{% endif %}
<h2>Buy now to get access over all the contents of this course</h2>
    {{paypal_payment_button.render}}
</div>
</div>
{% endblock content %}