{% extends 'main.html' %} {% block dashboard %}

<style>
  .heading {
    width: 100%;
    min-height: 100vh;
    background-image: url("/static/bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }

  .container {
    width: 100%;
    padding: 0 20px;
  }

  .card {
    margin-bottom: 20px;
  }

  .card-body {
    padding: 20px;
  }

  .card-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  .card-subtitle {
    color: #888;
    font-size: 0.9rem;
    margin-bottom: 10px;
  }

  .card-text {
    margin-bottom: 15px;
  }

  .card-buttons {
    text-align: center;
  }

  .btn-details {
    margin-right: 5px;
  }

  .btn-group {
    display: flex;
    justify-content: center;
  }
</style>

<div class="heading">
  <h1 style="color: white">Dashboard</h1>
  <br />
  <div class="container mt-3">
    <center>
      <a
        href="/create_course/{{ teacher.teacher_id_id }}/"
        class="btn btn-dark mb-3"
        >Add courses</a
      >
    </center>
    <div class="row">
      {% for c in course %}
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card bg-primary-subtle">
          <div class="card-body">
            <h1>{{ c.name.upper }}</h1>
            <hr />
            <p class="card-subtitle"><small>{{ c.course_post_date }}</small></p>
            <div class="card-text">
              <h5 class="card-title">Description:{{ c.body }}</h5>
              
            </div>
            <div class="card-text">
              <h5 class="card-title">Teacher:{{ c.teacher }}</h5>
              
            </div>
            <div class="card-text">
              <h5 class="card-title">Course Price:₹{{ c.price }}.00</h5>
              
            </div>
            <div class="card-text">
              <h5 class="card-title">Category:{{ c.category }}</h5>
            </div>
            <div class="card-buttons">
              <div class="btn-group">
                <a
                  href="/course_details/{{ c.id }}/"
                  class="btn btn-info btn-details"
                  >Course Details</a
                >
                <a
                  href="/update_course/{{ c.id }}/"
                  class="btn btn-success btn-details"
                  >Update Course</a
                >
                <a
                  href="/delete_course/{{ c.id }}/"
                  class="btn btn-danger btn-details"
                  >Delete Course</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock dashboard %}
