{% extends 'main.html' %}
{% block dashboard %}

<style>
    .heading {
        width: 100%;
        min-height: 100vh;
        background-image: url("/static/bg.jpg");
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
    }
    
    .container {
        width: 100%;
        padding: 0 20px;
    }
    
    .card {
        margin-bottom: 20px;
    }
    
    .card-title {
        margin-bottom: 10px;
    }
</style>
</head>
<body>
    <div class="heading">
        <h1 style="color:white;">Dashboard</h1>
        <br>
        <div class="container mt-3">
            <center><a href="/create_course/{{ teacher.teacher_id_id }}/" class="btn btn-dark mb-3">Add courses</a></center>
            <div class="row">
                {% for c in course %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card bg-primary-subtle">
                        <div class="card-body">
                            <h1>{{c.name.upper}}</h1>
                            <hr>
                            <div class="float-end">
                                <p class="card-title"><small class="text-muted">{{ c.course_post_date }}</small></p>
                            </div>
                            
                            <h5 class="card-title">Description: {{ c.body }}</h5>
                            
                            <h5 class="card-title">Teacher: {{ c.teacher }}</h5>
                            
                            <h5 class="card-title">Course price: ₹{{ c.price }}.00</h5>
                            
                            <h5 class="card-title">Category: {{ c.category }}</h5>
                            
                            <div class="mt-3 text-center">
                                <a href="/course_details/{{c.id}}/" class="btn btn-info">Course Details</a>
                                <a href="/update_course/{{c.id}}/" class="btn btn-success">Update Course</a>
                                <a href="/delete_course/{{c.id}}/" class="btn btn-danger">Delete Course</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

{% endblock dashboard %}
